<div class="flex justify-content-between align-items-center h-full header">
  <div class="nav-logo flex align-items-center">
    <button pButton class="p-0 nav-bar-btn block">
      <yoda-svg-icon [path]="'hamburger'"></yoda-svg-icon>
    </button>
    <div class="ms-2 flex flex-column justify-content-center">
      <span class="logo size-18 px-3">YODA</span>
    </div>
  </div>
  <div class="pe-3 user-actions flex align-items-center">
    <a class="button outline size-16 px-2 pt-1">
      <i class="fa-regular fa-bell circle-icon"></i>
    </a>
    <a class="size-16 px-2 pt-1">
      <i class="fa-solid fa-circle-question circle-icon"></i>
    </a>
    <a class="size-16 px-2 pt-1">
      <i class="fa-solid fa-user circle-icon"></i>
    </a>

    <!-- <user-popup [memberType]="memberTypeParent"></user-popup> -->
  </div>
</div>
