<div class="wrapper">

    <div class="header">
        <div class="header__logo">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H16V2.286H0V0Z" fill="#E8ECED"/>
                <path d="M0 13.7148H16V16.0008H0V13.7148Z" fill="#E8ECED"/>
                <path d="M16 6.85547H0V9.14147H16V6.85547Z" fill="#E8ECED"/>
      </svg>
            <p>YOGA</p>
        </div>
        <div class="header__right">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
    </div>

</div>