<div class="login flex justify-content-center align-items-center">
  <!-- <button (click)="login()" *ngIf="!loginDisplay">Login</button>
  <button (click)="logout()" *ngIf="loginDisplay">Logout</button> -->
  <div
    class="header-login absolute top-0 left-0 w-full flex align-items-center"
  >
    <yoda-svg-icon [path]="'hal-logo-text-white'" class="ml-4"></yoda-svg-icon>
  </div>
  <p-card [style]="{ width: '360px' }" styleClass="login-popup">
    <yoda-svg-icon
      [path]="'yoda-logo'"
      class="flex justify-content-center"
    ></yoda-svg-icon>
    <button
      (click)="login()"
      class="flex justify-content-center align-items-center w-full btn-login mb-4 mt-4"
    >
      Login
    </button>

    <ng-template pTemplate="footer">
      <p class="m-0 text-footer">
        For access requests, send an email to
        <a href="YODA@halliburton.com" class="contact-email"
          >YODA@halliburton.com</a
        >
      </p>
    </ng-template>
  </p-card>
         </div>
