$--LuminaryNova-color: #111921;
$--SerenityBlue-color: #3275b8;
$--MistyLilac-color: #c9cfd4;
$--SlateSteel-color: #818f99;

:host ::ng-deep {
  .login {
    background-image: url("../../../assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    .login-popup {
      .p-card-body {
        background-color: $--LuminaryNova-color;
      }
      .p-card-content {
        padding: 0px;
      }
      .p-card-footer {
        padding: 0px;
        //styleName: Content Primary;
        font-family: Barlow;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: $--SlateSteel-color;
      }
    }

    .btn-login {
      height: 32px;
      border-radius: 4px;
      border: none;
      //styleName: Action;
      font-family: Barlow;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      &:hover {
        cursor: pointer;
        background-color: $--MistyLilac-color;
      }
    }
    .contact-email {
      color: $--SerenityBlue-color;
      font-family: Barlow;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;


    }
    .text-footer{
      font-family: Barlow;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

//styleName: Content Primary;
font-family: Barlow;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

    }
    .header-login {
      height: 30px;
      background-color: $--LuminaryNova-color;
    }
  }
}
